@charset "UTF-8";

/*
 paleta de cores
 azul #3B6D8C
 musgo #384001
 verde claro #888C03
 cor de pele #D9BEA7
*/

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; /*borda faca parte da conta de largura*/
}

body, html {
    background-image: linear-gradient(to top,  #f3d6bd77, #004370);
    height: 100vh;
    width: 100vw;
}

---------------------------------
/*para fazer a main ficar sempre no meio, centralizado, vc precisa colocar a posicao relative na main, neste caso, na section login (oq estiver dentro da main) voce coloca position absolute, top e left 50%. depois, vc coloca o translate -50% -50%. para ficar centralizado.*/
------------------------------


main {
    position: relative;
    height: 100vh;
    width: 100vw;
}


section#login {
    position: absolute;
    background-color: white;
    width: 270px;
    height: 535px;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    overflow: hidden; /*borda arredondada na img*/
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.815); /*esse 0px 0px indica que vai ser uma sombra sem estar direcionada para um lado ou o outro*/
    transition: width 0.3s, height 0.3s; /*transicao bem legal*/
    -moz-transition-timing-function: ease; /*da uma suavizada na transicao de cima*/
    transform: translate(-50%, -50%);

    
}

section#login >div#imagem {
    display: block;
    background: #D9BEA7 url(../imagens/pexels-jahoo-clouseau-388415.jpg) no-repeat;
    height: 200px;
    background-size: cover;
    background-position: left bottom;

}

section#login > div#formulario {
    display: block;
    padding: 10px;

}

div#formulario > h1 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 1em;
    padding-bottom: 7px;
}

form > div.campo {
    background-color: #f8c59928;

    border: 2px solid #202020;
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

div.campo > label {
    display: none;
}

div.campo > span { /*centralizar e config o icon*/
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input { /*config da div campo, onde digita email e a senha, nesse caso obv*/
    font-size: 1em;
    width: calc(100% - 44px); /*esse cal eh oq faz ter esse encaixe perfeito*/
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-13px); /*SEMPRE DEIXAR O TRANSFORM POR ULTIMO, PRA EVITAR ERROS*/
}

div.campo > input:focus-within { /*essa tag, eh para qnd vc estiver digitando dentro do campo, mudancas que podem ocorrer ao clicar para digitar dentro do campo*/
    border: none; /*n deu pra tirar essa borda q fica qnd clica, eh do navegador*/
     
}


form  > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #f8c59928;
    border: 1px solid #202020;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    
}

form > input[type=submit]:hover {
    background-color: #f8c59928;
    background-color: #e9c29f77;
    cursor: pointer;

}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 9px;
    margin-top: 8px;
    background-color: #f8c59928;
    border: 1px solid #202020;
    border-radius: 5px;
    text-decoration:none;
    color: black;
    
}

form > a.botao > span { /*esse eh pro icon*/
    font-size: 1em;
}

form > a.botao:hover {
    background-color: #e9c29f77;

}
