@charset "UTF-8";

/*
 paleta de cores
 azul #3B6D8C
 musgo #384001
 verde claro #888C03
 cor de pele #D9BEA7



*/

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; /*borda faca parte da conta de largura*/
}

body, html {
    background-color: #D9BEA7;
    height: 100vh;
    width: 100vw;
}

---------------------------------
/*para fazer a main ficar sempre no meio, centralizado, vc precisa colocar a posicao relative na main, neste caso, na section login (oq estiver dentro da main) voce coloca position absolute, top e left 50%. depois, vc coloca o translate -50% -50%. para ficar centralizado.*/
------------------------------


main {
    position: relative;
    height: 100vh;
    width: 100vw;
}


section#login {
    position: absolute;
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden; /*borda arredondada na img*/
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.459); /*esse 0px 0px indica que vai ser uma sombra sem estar direcionada para um lado ou o outro*/

    transition: width 0.3s, height 0.3s; /*transicao bem legal*/
    -moz-transition-timing-function: ease; /*da uma suavizada na transicao de cima*/

    
}

section#login >div#imagem {
    display: block;
    background: #D9BEA7 url(../imagens/pexels-jahoo-clouseau-388415.jpg) no-repeat;
    height: 200px;
    background-size: cover;
    background-position: left bottom;

}

section#login > div#formulario {
    display: block;
    padding: 10px;

}
